.customModal {
    background: #b2dbbf;
    min-width: 400px;
    width: 100%;
  }

  .qrGeneratorWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .heading {
    font-size: 25px;
    font-weight: 600;
  }

  .actionButton {
    padding: 10px;
    border: 0px solid;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
  }

  .actionButton:disabled {
    background: #aca9a9 !important;
    color: #0000004c !important;
    cursor: not-allowed;
  }

  .actionButton.generateQrCodeBtn {
    background: #000;
    color: #fff;
  }

  .actionButton.saveButton {
    background: rgb(4, 61, 4);
    color: #fff;
  }

  .actionButton.historyButton {
    background: rgb(5, 5, 110);
    color: #fff;
  }
  
  .actionButtonWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 16px;
  }

  .inputwrapper {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }

  .titleInput {
    padding: 5px;
  }

  .listWrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
  }

  .listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    border-bottom: 1px solid #afadad;
    background-color: #fff;
  }

  .listItemActionButtonWrapper {
    display: flex;
    column-gap: 16px;
  }

  .listItemActionButton {
    padding: 5px;
    color: #4674e8;
    line-height: 0;
    border: none;
    outline: none;
    text-decoration: underline;
    background: none;
    cursor: pointer;
  }